{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %} Promotions{% endblock %}
{% block content %}

<div class="Fields-container">
    <div class="bigger_width_field">
        <label for="fname" class="labels">Search</label>
        <div class="search-box">
            
            <img src="{% static '/images/search-1.png' %}"  alt="">
            <input type="text" id="fname" name="fname" class="inputs" value="{{prev_search}}" placeholder="E.g.BIG HOOPS BBQ BEEF" onchange="filterFunction('search',this.value);"><br><br>
        </div>
    </div>

    <div class="small_width_field">
        <label class="labels">From Date</label>
        <div class="date_container" onclick="showFromDatePicker()">
            
            <input disabled type="text" id="from_date" value="{{prev_from_date}}" placeholder="From date" onchange="filterFunction('from_date',this.value);" class="datepicker" >
          
        </div>
        
    </div>
    <div class="small_width_field">
        <label  class="labels">To Date</label>
        <div class="date_container" onclick="showToDatePicker()">
            
            <input disabled type="text" id="to_date" value="{{prev_to_date}}" placeholder="To date"  onchange="filterFunction('to_date',this.value);" class="datepicker" >
        
        </div>
        
    </div> 
    <div class="small_width_field">
        <label for="cars" class="labels">Status</label>
        <div class="select-box">
            <select class="dropdown_input small_dropdown_input" onchange="filterFunction('status',this.value);">
                <!-- <option value="Active" selected>Active</option> -->
                {% for i in status_list %}
                    {% if prev_status == i%}
                        <option value="{{i}}" selected>{{i}}</option>
                    {%else%}
                        <option value="{{i}}">{{i}}</option>
                    {% endif %}
                
                {% endfor %}
            </select>
        </div>
        
    </div>
    <div class="extra_small_width_field">
        <button data-toggle="modal" data-target="#bulkupload" class="bulk_upload"  onclick="removePreviosResults();">Bulk <img class="rotated_button_arrow" src="{% static '/images/up_arrow.png' %}"  alt=""></button>
    </div>
    {% if promotions_available %}
        <div class="extra_small_width_field"> 
            <button class="bulk_upload" ><a href="{% url 'promotions_list' %}?export=Yes{{update_url_param}}" class="export_link" onclick="afterBulkExportRefreshPage();showLoader(null,null)">Bulk <img src="{% static '/images/up_arrow.png' %}" alt=""></a></button>
        </div>
    {% else %}  
        
        <div class="extra_small_width_field">
            <button class="bulk_upload" onclick="showDownloadError();">Bulk <img src="{% static '/images/up_arrow.png' %}" alt=""></button>
        </div>
    {% endif %}

    <div class="small_width_field1">
        <a href="{% url 'add_promotions' %}" class="add_new_site"><img src="{% static '/images/plus-sign.png'%}" alt=""></a>
    </div>


</div>
<div class="table_container_for_shadow">
<div class="table_container_promotions">
    
    <div class="left-table">
        <table class="table_promotions promotion_box_shadow_none" aria-describedby="promotionlist">
            <thead>
              <tr>
                <th scope="col" onclick="orderByFunction('order_by_retail_barcode')">
                    Retail Barcode
                    {% if prev_retail_barcode == 'Descending' %}
                    
                        <img id="order_by_retail_barcode" class="order-by" src="{%static 'images/order-img.png'%}" alt="">
                    {% else %}
                        
                        <img id="order_by_retail_barcode"  src="{%static 'images/order-img.png'%}" alt="">
                    {% endif %}
                </th>
                <th scope="col">Product</th>
              </tr>
            </thead>
            <tbody>
                {% for promotion in promotions %}
                    
                  <tr class="leftrows" id="left{{promotion.id}}" >
                    <th scope="row" class="promotion_table"><a class="promotion_view_link" href="{% url 'view_promotions' promotion.id %}{{query_params_str}}">{{promotion.retail_barcode}}</a></th>
                    <td class="promotion_table"><a class="promotion_view_link" href="{% url 'view_promotions' promotion.id %}{{query_params_str}}">{{promotion.product}}</a></td>
                </tr>

                {% endfor %}
              
            </tbody>
          </table>
    </div>
    <div class="right_table" id="sliding_table">
        <table class="table_promotions big" aria-describedby="orderpromotions">
            <thead>
              <tr>
                <th scope="col">
                    Promotions Title
                </th>
                <th scope="col" onclick="orderByFunction('order_by_start_date')">Start Date
                    {% if prev_start_date == 'Descending' %}
                    
                        <img id="order_by_start_date" class="order-by" src="{%static 'images/order-img.png'%}" alt="">
                    {% else %}
                        
                        <img id="order_by_start_date"  src="{%static 'images/order-img.png'%}" alt="">
                    {% endif %}
                </th>
                <th scope="col" onclick="orderByFunction('order_by_end_date')">End Date
                    {% if prev_end_date  == 'Descending' %}
                    
                        <img id="order_by_end_date" class="order-by" src="{%static 'images/order-img.png'%}" alt="">
                    {% else %}
                        
                        <img id="order_by_end_date"  src="{%static 'images/order-img.png'%}" alt="">
                    {% endif %}
                </th>
                <th scope="col">Status</th>
                <th scope="col">Available for</th>
                <th scope="col">Unique code</th>
                <th scope="col">Offer type</th>
                <th scope="col text_align_style">Actions</th>

              </tr>
            </thead>
            <tbody>
                  
                {% for promotion in promotions %}
                    
                    <tr id="right{{promotion.id}}">
                    <th scope="row" class="promotion_table"><a class="promotion_view_link" href="{% url 'view_promotions' promotion.id %}{{query_params_str}}">{{promotion.promotion_title}}</a></th>
                    
                    <td class="promotion_table"><a class="promotion_view_link" href="{% url 'view_promotions' promotion.id %}{{query_params_str}}">{% load offers_date_formater %}{{promotion.start_date | offers_date_formater}}</a></td>
                    <td class="promotion_table"><a class="promotion_view_link" href="{% url 'view_promotions' promotion.id %}{{query_params_str}}">{% load offers_date_formater %}{{promotion.end_date | offers_date_formater}}</a></td>
                    <td class="promotion_table">
                        <div class="active_status_box promotion_table " >
                            {% if promotion.status == 'Active' %}
                                <a class="promotion_view_link" href="{% url 'view_promotions' promotion.id %}{{query_params_str}}"><div class="active_status"></div></a>
                             {%else%} 
                             <a class="promotion_view_link" href="{% url 'view_promotions' promotion.id %}{{query_params_str}}"><div class="inactive_status"></div></a>
                             {% endif %}{{promotion.status}}
                              <div class="dropdown display-none-style-promotion-status"  id="dropdownMenuButton{{promotion.id}}" >                                <ul class="dropdown-menu show dropdown-menu-style">
                                    <li class="text_align_style">
                                        {% if promotion.status == 'Active' %}
                                        <p class="dropdown-item" onclick="makeAction('{{forloop.counter}}', '{{promotion.status}}','{{promotion.id}}');">Make Inactive</p>
                                        {% else %}
                                            <p class="dropdown-item" onclick="makeAction('{{forloop.counter}}', '{{promotion.status}}','{{promotion.id}}');">Make Active</p>
                                        {% endif %}
                                    </li>
                                  </ul>
                              </div>
                             <div class="dots"  onclick="changeStatus('{{promotion.id}}')" ><span></span><span></span><span></span></div>
                            
                        </div>
                    </td>
                    <td class="promotion_table"><a class="promotion_view_link" href="{% url 'view_promotions' promotion.id %}{{query_params_str}}">{{promotion.available_for}}</a></td>
                    <td class="promotion_table"><a class="promotion_view_link" href="{% url 'view_promotions' promotion.id %}{{query_params_str}}">{{promotion.unique_code}}</a></td>
                    <td class="promotion_table"><a class="promotion_view_link" href="{% url 'view_promotions' promotion.id %}{{query_params_str}}">{{promotion.offer_type}}</a></td>
                    
                    <td class="promotion_del_edit_btn"><button class="delete-station-image-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="appendDeleteContent(`{% url 'delete_promotions' promotion.id %}`,`{{promotion.retail_barcode}}`, `{{promotion.promotion_title}}`)";><img class="table_buttons promotion_list_delete_button" src="{% static '/images/delete.png' %}" alt=""></button><a href="{% url 'edit_promotions' promotion.id %}{{query_params_str}}"><img class="table_buttons promotion_list_edit_button" src="{% static '/images/pencil-2.png' %}" alt=""></a></td>

                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="promotion_pagination">
    <div class="pagination_div">
        <div class="record_count">
            {% if data_count is 0 %}
                <p class="promotion_list_table">No records</p>
            {% else %}
                <p class="promotion_list_table">   <strong>{{first_data_number}}</strong>-<strong>{{last_data_number}}</strong> of <strong>{{data_count}}</strong> records </p>
        
            {% endif %}
        </div>
        <div class="pagination_buttons">
            
            {% if data_count >= 10 %}
                {% if prev  %}
                    <a href="{% url 'promotions_list' %}?page={{prev}}{{update_url_param}}" ><button class="pagination_button prev" >Previous</button></a>
                {% else %}
                    
                    <button class="disabled_button promotion prev">Previous</button>
                {% endif %} 
            {% endif %}
            {% for i in pagination_num_list%}
            
                {% if i is None %}

                    <span>.</span>

                {% else %}
                    {% if current_page == i%}
                        <a href="#"  ><button class="active_pagination_button">{{i}}</button></a>
                    {% else %}
                        <a href="{% url 'promotions_list' %}?page={{i}}{{update_url_param}}" ><button class="pagination_button">{{i}}</button></a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            
            {% if data_count >= 10 %}
                {% if next  %}
                    <a href="{% url 'promotions_list' %}?page={{next}}{{update_url_param}}" ><button class="pagination_button next">Next</button></a>
                {% else %}
                    
                    <button class="disabled_button promotion next">Next</button>
                {% endif %}
            {% endif %}
        </div>
    </div> 


</div>
</div>

<div class="modal fade" id="staticBackdrop"   data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content google_maps_content promotion_modal_styling" >
         
        <div class="modal-body">
            <div class="heading">
                <h5>Delete Promotion</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        
            </div>
            <div id="delete-modal-content">

            </div>
            
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="action_status_popup"   data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content google_maps_content promotion_modal_styling change_status_modal_style">
         
        <div class="modal-body">
            <h3 id="updated_status">Succesfully updated status of promotion!!</h3>
            
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="no_download_box"   data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content google_maps_content promotion_modal_styling change_status_modal_style no-records-modal" >
         
        <div class="modal-body">
            <h3 id="updated_status">No promotions to download!</h3>
            
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="bulkupload" tabindex="-1"  role="dialog" aria-hidden="true">
    <div class="modal-dialog promotion-modal-dialog" role="document" >
        <div class="modal-content modal_padding promotion-modal-content">
        <div class="modal-header border-none-style">
          <h5 class="modal-title" id="bulkuploadTitle">Bulk Upload</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModalFunction();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body file_upload">
            <label class="custom_file_upload" for='selectSheet'>Select File </label>
            <input id='selectSheet' onchange="unableUploadButton()" type="file">
            <a id='filename'></a>
        </div> 
        
        <div id="bulk_upload_res_sucess" >
        </div>
        <div id="bulk_upload_res_error">

        </div>
        <div id="empty_column_errors" >
        </div>
        
        <div class="px-2"  id="progress_bar_box">
            <label for="progress_bar">Bulk Upload in Progress: <span id="progess_count">0%</span> completed</label><br>
            <progress id="progress_bar" class="w-100" value="3" max="100">  </progress>
        </div>
        
        <a href="{% url 'promotions_list' %}?export_errors=Yes{{update_url_param}}" id="error_export_button"
         class="btn btn-outline-danger my-2" 
         onclick="afterBulkExportRefreshPage();showLoader(null,null)">Export Errors</a>
        <div class="error_csv_container display-none-style" id='errorheader'>
            <div  >
                <div class="error_csv_title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FF3B3B" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
                  <strong id="csverrorcount">0</strong>
                  invalid entries
                  <div  onclick="printError(true)" class="ml-auto">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                    </svg>
                </div>
                </div>
                <div id='containerlisterror' class="show_error_list">
                    <div id="bulk_upload_error_list">

                    </div> 
                </div>
            </div>
        </div>
            <div id="upload_message"><a class="req_invalid">Please upload the file with all valid entries</a></div>
        <div class="modal-footer border-none-style">
          <button type="button" class="btn btn-secondary cancel_button_bulk" data-dismiss="modal" onclick="closeModalFunction();">Close</button>
          <button type="button" disabled id='upload' onclick="processCSV()" class="btn btn-primary upload_button_bulk">Upload</button>
        </div>
      </div>
    </div>
  </div>
  <div id='printdiv' class="display-none-style">

  </div>
{% endblock%}


{% block js %}

<script type="text/javascript">
  // This javascript code uses data from django tags
    let url_u= `{{update_url_param|safe}}`;
    let window_radirect_location = "{% url 'promotions_list'%}";

    var token = '{{csrf_token}}';
    var progress_running_session = "{{bulk_upload_running}}";
    
    document.getElementById('progress_bar').value = parseInt("{{percentage}}");
    document.getElementById('progess_count').innerHTML ="{{percentage}}%";
    var errors_export_ready ="{{errors_export_ready}}";

    var change_status_view_url = `{% url 'change_status_view' %}`;
    var bulk_upload_progress_bar_url = `{% url 'promotion_progress_bar' %}`;
    var uploadSheet_promotions_url = `{% url 'uploadSheet_promotions' %}`;

    let time_difference = Number("{{time_difference|safe}}");
    let maximum_to_date = Number("{{maximum_to_date|safe}}");
    let dashboard_data_days_limit = Number("{{dashboard_data_days_limit|safe}}");
    var to_date_difference_from_current_date = "{{to_date_difference_from_current_date}}";

</script>
<script src="{% static '/js/common.js' %}"></script>
<script src="{% static 'js/promotions/promotion-list.js'%}"></script>
<script src="{% static 'js/bulk-upload-common-funcs.js' %}"></script>
{% endblock %}