{% extends 'dashboard/base.html' %}
{% block title %}Email Notification{% endblock %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static '/css/notifications/email_notifications/email_notifications.css'%}">
<link rel="stylesheet" href="{% static '/css/notifications/notifications/notifications.css' %}">
{% endblock %}
{% block content %}
<div>
    <div id='userMan' class="user_container_man active_form">
        {% include "notifications/notification_sub_nav_bar.html" %}
        <div class="Fields-container">
            <div class="bigger_width_field">
                <label class="labels" for="cars">Search</label>
                <div class="search-box">
                    <img src="{% static '/images/search-1.png' %}" alt="">
                    <input id="search" type="text" placeholder="E.g. OscarBrown" class="inputs" value="{{prev_search}}"
                        onchange="filterFunction('search',this.value);" />
                </div>
            </div>
            <div class="small_width_field" id="email-assigned-to">
                <label class="labels" for="cars">Assigned To</label>
                <div class="select-box">
                    <select class="dropdown_input" id="rolef" onchange="filterFunction('assign_to',this.value);">
                        <option value="All">All</option>
                        {% for i in user_category_list %}
                        {% if prev_assign_to == i%}
                        <option value="{{i}}" selected>{{i}}</option>
                        {%else%}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="small_width_field">
                <label class="labels" for="cars">Status</label>
                <div class="select-box">
                    <select class="dropdown_input" id="status" onchange="filterFunction('status',this.value);">
                        <option value="All">All</option>
                        {% for i in status_list %}
                        {% if prev_status == i%}
                        <option value="{{i}}" selected>{{i}}</option>
                        {%else%}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}

                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="extra_small_width_field">
                <a href="{% url 'add_new_email_notification' %}"><button class="add_new_site" id="addButton"><img
                            class="add_user_plug_image" src="{% static '/images/plus-sign@2x.png' %}"
                            alt=""></button></a>
            </div>
        </div>
        <div class="table_container">
            <table id="tableID" class="table" aria-describedby="usertable">
                <thead class="rounded-top">
                    <tr>
                        <th id="order_by_name_th" class="table-heading email-subject-heading-cell"
                            data-sortas="case-insensitive">Subject</th>
                        <th id="order_by_username_th" class="table-heading">Assigned To</th>
                        <th id="order_by_role_th" class="table-heading" data-sortas="numeric">
                            Admin
                        </th>
                        <th class="table-heading" onclick="orderByFunction('order_by_scheduled_time')">
                            Scheduled Time
                            {% if previous_order_by_scheduled_time == 'Descending' %}

                            <img id="order_by_scheduled_time" class="order-by" src="{%static 'images/order-img.png'%}"
                                alt="">
                            {% else %}

                            <img id="order_by_scheduled_time" src="{%static 'images/order-img.png'%}" alt="">
                            {% endif %}
                        </th>
                        <th class="table-heading" onclick="orderByFunction('order_by_delivered_time')">
                            Delivered Time
                            {% if previous_order_by_delivered_time == 'Descending' %}

                            <img id="order_by_delivered_time" class="order-by" src="{%static 'images/order-img.png'%}"
                                alt="">
                            {% else %}

                            <img id="order_by_delivered_time" src="{%static 'images/order-img.png'%}" alt="">
                            {% endif %}

                        </th>
                        <th id="order_by_status_th" class="table-heading"> Status</th>
                        <th id="order_by_action_th" class="table-heading text-center"> Action</th>
                    </tr>
                </thead>
                <tbody id="showEmailNotificationDetails">
                    {% for email_data in emails %}
                    <tr>
                        <td id="email-subject-cell"><a class="view-email-notification-link"
                                href="{% url 'view_email_notification' email_data.id %}">{{email_data.subject}}</a></td>
                        <td><a class="view-email-notification-link"
                                href="{% url 'view_email_notification' email_data.id %}">{{email_data.assign_to}}</a>
                        </td>
                        <td><a class="view-email-notification-link"
                                href="{% url 'view_email_notification' email_data.id %}">{{email_data.updated_by}}</a>
                        </td>
                        {% if email_data.scheduled_time %}
                        <td><a class="view-email-notification-link"
                                href="{% url 'view_email_notification' email_data.id %}">
                                {% load offers_date_formater %}{{email_data.scheduled_time | offers_date_formater}}</a>
                        </td>
                        {% else %}
                        <td><a class="view-email-notification-link"
                                href="{% url 'view_email_notification' email_data.id %}">Not Scheduled</a></td>
                        {% endif %}
                        {% if email_data.delivered_time %}
                        <td><a class="view-email-notification-link"
                                href="{% url 'view_email_notification' email_data.id %}">
                                {% load offers_date_formater %}{{email_data.delivered_time | offers_date_formater}}</a>
                        </td>
                        {% else %}
                        <td><a class="view-email-notification-link"
                                href="{% url 'view_email_notification' email_data.id %}">Not Delivered</a></td>
                        {% endif %}
                        <td><a class="view-email-notification-link"
                                href="{% url 'view_email_notification' email_data.id %}">{{email_data.status}}</a></td>
                        {% if email_data.status != 'Delivered' and email_data.status != 'In Progress' %}
                        <td>
                            <div class="update-delete-icons">
                                <a href="#"
                                    onclick="appendDeleteContent('{{email_data.id}}','{{email_data.subject}}')"><button
                                        data-bs-toggle="modal" data-bs-target="#email-delete-email-modal"
                                        id="emails-delete-email-notification"><img
                                            src="{% static 'images/active_delete.png' %}" alt=""></button></a>
                                <a href="{% url 'update_email_notification' email_data.id %}"
                                    onclick="showLoader()"><img src="{% static 'images/pencil-2.png' %}" alt=""></a>
                            </div>
                        </td>
                        {% else %}
                        <td>
                            <div class="update-delete-icons">
                                <img src="{%static 'images/inactive_delete.png'%}" alt=""><img
                                    src="{%static 'images/inactive-pencil.png'%}" alt="">
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="7" class="pagination_bx_background">
                            <div class="pagination_div">
                                <div class="record_count">

                                    {% if data_count is 0 %}
                                    <p class="sites_table">No records</p>
                                    {% else %}
                                    <p class="sites_table">
                                        <strong>{{first_data_number}}</strong>-<strong>{{last_data_number}}</strong> of
                                        <strong>{{data_count}}</strong> records
                                    </p>
                                    {% endif %}
                                </div>
                                <div class="pagination_buttons d-flex justify-content-lg-start">
                                    {% if data_count >= 10 %}
                                    {% if prev %}
                                    <a href="{% url 'email_list' %}?page={{prev}}{{update_url_param}}"><button
                                            class="pagination_button prev">Previous</button></a>
                                    {% else %}

                                    <button class="disabled_button prev">Previous</button>
                                    {% endif %}
                                    {% endif %}
                                    {% for i in pagination_num_list%}

                                    {% if i is None %}

                                    <span>.</span>

                                    {% else %}
                                    {% if current_page == i%}
                                    <a href="#"><button class="active_pagination_button">{{i}}</button></a>
                                    {% else %}
                                    <a href="{% url 'email_list' %}?page={{i}}{{update_url_param}}"><button
                                            class="pagination_button">{{i}}</button></a>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}

                                    {% if data_count >= 10 %}
                                    {% if next %}
                                    <a href="{% url 'email_list' %}?page={{next}}{{update_url_param}}"><button
                                            class="pagination_button next">Next</button></a>
                                    {% else %}

                                    <button class="disabled_button next">Next</button>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<!-- delete email notification modal -->
<div class="modal fade" id="email-delete-email-modal" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content google_maps_content station_list_delete_site_modal_styl">

            <div class="modal-body">
                <div class="heading">
                    <h5>Delete Email Notification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="emails_list_delete_email_modal_styl_content" id="delete-modal-content">

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block js %}
<script type="text/javascript">
    let url_u = `{{update_url_param|safe}}`;
    let window_radirect_location = "{% url 'email_list'%}";
</script>
<script src="{% static '/js/common.js' %}"></script>
<script src="{% static '/js/notifications/email-list.js' %}"></script>
{% endblock %}