{% extends 'auths/auth_main.html' %}

{% block title %}Change Password{% endblock %}

{% block body %}
<div class="login_section">
    <div class="login_container">
        
  {% load  static %}
        <div class="blur">
            
            <img src="{% static '/images/mfg_logo22.png' %}" class="mfg_logo" alt="">
        </div>  
        <div class="login_form">
            
            <h3 class="heading_login_container">Change password</h3>
            <form method="post" action="" id="AddStationForm" enctype="multipart/form-data" autocomplete="off">

                {% csrf_token %}
                <div class="text_box_container">
                    
                    <label for="otp" class="labels">Verification Code</label><br>
                    <input type="text" id="otp" class="txtbox" name="otp" onfocusout="validateFields(this.value,'otp');"  autocomplete="off">
                    
                    <p class="login-error-field" id="otp_error"></p>
                </div>
                <div class="text_box_container">
                    
                    <label for="password1" class="labels">New Password:</label><br>
                    <input type="password" id="password1" class="txtbox" name="password" onkeyup="validateFields(this.value,'password');"   autocomplete="off">
                    
                    <p class="login-error-field" id="password_error"></p>
                </div>
                <div class="text_box_container">
                    
                    <label for="password" class="labels">Confirm New Password:</label><br>
                    <div class="pass_container">
                        <input type="password" id="password" class="txtbox1 password_box_one"  name="change_password"  autocomplete="off">
                        <div class="img_container" id="toggle" onclick="showHidePassword();">
                            <img src="{% static '/images/password_img.png' %}" alt="">
                        </div>
                    </div>
                  </div>
                <input type="submit" value="Submit" id="submit_button" class="submit_button">
                {% for message in messages %}
                <div class="errors" >
                    <p >Error: {{message}} </p>
                    
                </div>
                {% endfor %}
            </form>
            
            
            <div class="link_container1">
                <a href="{% url 'AdminForgotPassword' %}" class="link">Cancel </a><p class="vertical_line">|</p> <a href="{% url 'AdminLogin' %}" class="link">Login</a>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
{% block js %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
{% endblock %}}