{% extends 'auths/auth_main.html' %}

{% block title %} Send OTP page{% endblock %}

{% block body %}
<div class="login_section">
    <div class="login_container">
        
  {% load  static %}
        <div class="blur">
            
            <img src="{% static '/images/mfg_logo22.png' %}" class="mfg_logo" alt="">
        </div>  
        <div class="login_form">
            
            <h3 class="heading_login_container">Login</h3>
            <form method="post" action="" id="AddStationForm" enctype="multipart/form-data" autocomplete='off'>

                {% csrf_token %}
                <div class="text_box_container">
                    
                    <label for="otp" class="labels">OTP</label><br>
                    <input type="text" id="otp" onkeyup="resetSubmission()" class="txtbox otp_txtbx" name="otp" onfocusout="validateFields(this.value,'otp');" maxlength="4" placeholder="OTP">
                    <p class="login-error-field" id="otp_error"></p>
                </div>
                <input type="submit" id="submit_button" value="Verify" class="submit_button">
            </form>
            <div class="link_container1">
                <a href="{% url 'AdminLogin' %}" class="link">Cancel</a>
                <a href="{% url 'AdminOTPVerifiction' %}?resend_otp=Yes{{url}}" class="link ml-2">Resend OTP</a>
            </div>
        </div>
        {% for message in messages %}

            {% if message.tags == 'success' %}
            
                <div class="success-messages-box hid-box" >
                        <p >Success: {{message}} </p>
                </div>
            {% else %}
                <div class="errors hid-box" >
                        <p >Error: {{message}}</p>
                </div>

            {% endif %}
            
        {% endfor %}
    </div>
    
</div>

{% endblock %}
{% block js %}
{% endblock %}