{% extends 'auths/auth_main.html' %}

{% block title %} Reset Password{% endblock %}

{% block body %}
<div class="login_section">
    <div class="login_container">
        
  {% load  static %}
        <div class="blur">
            
            <img src="{% static '/images/mfg_logo22.png' %}" class="mfg_logo" alt="">
        </div>  
        <div class="login_form">
            
            <h3 class="heading_login_container">Reset password</h3>
            <form method="post" action="" id="AddStationForm" enctype="multipart/form-data" autocomplete='off'>

                {% csrf_token %}
                    <div class="text_box_container">
                        
                        <label for="password1" class="labels">New Password:</label><br>
                        <input type="password" id="password1" class="txtbox" name="password" onkeyup="validateFields(this.value,'password');" placeholder="*   *   *   *   *   *   *   *">
                        
                    <p class="login-error-field" id="password_error"></p>   
                    </div>
                    <div class="text_box_container">
                    
                        <label for="password" class="labels">Confirm New Password:</label><br>
                        <div class="pass_container">
                            <input type="password" id="password" class="txtbox1" name="change_password" placeholder="*   *   *   *   *   *   *   *">
                            <div class="img_container" id="toggle" onclick="showHidePassword();">
                                <img src="{% static '/images/password_img.png' %}" alt="">
                            </div>
                        </div>
                      </div>
                    <input type="submit" id="submit_button" value="Submit" class="submit_button">
                </form>
                
            </div>
            {% for message in messages %}
            <div class="errors hid-box" >
                <p >Error: {{message}} </p>
            </div>
            {% endfor %}
        </div>
        
</div>

{% endblock %}
{% block js %}

{% endblock %}