{% extends 'dashboard/base.html' %}
{% block title %}3DS for all{% endblock %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static '/css/notifications/notifications/notifications.css' %}">
<link rel="stylesheet" href="{% static '/css/three_ds_config/3ds_config.css' %}">
{% endblock %}
{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        <div id='threeDSConfig'>
            {% include "three_ds_config/3ds_sub_nav_bar.html" %}
                <div class="three-3ds-add-container">
                    
                    <div class="three-3ds-heading">
                        Parameter Checks Configurations
                    </div>
        
                    <div class="three-3ds-add-form">
                        <div class="configurations-box">
                            <input
                                class="three-3ds-checkbox"
                                type="checkbox"
                                name="kwh_consumed__condition_checkbox"
                                id="kwh_consumed__condition_checkbox"
                                {% if configurations_data.kwh_consumed__condition_checkbox == 'on' %}
                                    checked
                                {% endif %}
                            >
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes kwh_consumed__inputs"
                                name="kwh_consumed__trigger_value"
                                id="kwh_consumed__trigger_value"
                                fieldName="Triggers"
                                value="{{ configurations_data.kwh_consumed__trigger_value }}"
                            >
                            <span>kWh consumed in</span>
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes kwh_consumed__inputs"
                                name="kwh_consumed__in_x_days__number_of_days"
                                id="kwh_consumed__in_x_days__number_of_days"
                                fieldName="Number of days"
                                value="{{ configurations_data.kwh_consumed__in_x_days__number_of_days }}"
                            >
                            <span>days. Trigger 3DS for next</span>
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes kwh_consumed__inputs"
                                name="kwh_consumed__in_x_days__number_of_next_transactions"
                                id="kwh_consumed__in_x_days__number_of_next_transactions"
                                fieldName="Number of transactions"
                                value="{{ configurations_data.kwh_consumed__in_x_days__number_of_next_transactions }}"
                            >
                            <span>Transactions</span>
                        </div>
                        <div class="configurations-box error-box">
                            <ul class="m-0" id="kwh_consumed__conditions_error_box">
                            </ul>
                        </div>
        
                        <div class="configurations-box">
                            <input
                                class="three-3ds-checkbox"
                                type="checkbox"
                                name="total_transactions__condition_checkbox"
                                id="total_transactions__condition_checkbox"
                                {% if configurations_data.total_transactions__condition_checkbox == 'on' %}
                                    checked
                                {% endif %}
                            >
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes total_transactions__inputs"
                                name="total_transactions__trigger_value"
                                id="total_transactions__trigger_value"
                                fieldName="Triggers"
                                value="{{ configurations_data.total_transactions__trigger_value }}"
                            >
                            <span>transaction in</span>
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes total_transactions__inputs"
                                name="total_transactions__in_x_days__number_of_days"
                                id="total_transactions__in_x_days__number_of_days"
                                fieldName="Number of days"
                                value="{{ configurations_data.total_transactions__in_x_days__number_of_days }}"
                            >
                            <span>days. Trigger 3DS for next</span>
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes total_transactions__inputs"
                                name="total_transactions__in_x_days__number_of_next_transactions"
                                id="total_transactions__in_x_days__number_of_next_transactions"
                                fieldName="Number of transactions"
                                value="{{ configurations_data.total_transactions__in_x_days__number_of_next_transactions }}"
                            >
                            <span>Transactions</span>
                        </div>
                        <div class="configurations-box error-box">
                            <ul class="m-0" id="total_transactions__conditions_error_box">
                            </ul>
                        </div>
        
                        <div class="configurations-box">
                            <input
                                class="three-3ds-checkbox"
                                type="checkbox"
                                name="kwh_consumed_within__condition_checkbox"
                                id="kwh_consumed_within__condition_checkbox"
                                {% if configurations_data.kwh_consumed_within__condition_checkbox == 'on' %}
                                    checked
                                {% endif %}
                            >
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes kwh_consumed_within__inputs"
                                name="kwh_consumed_within__trigger_value"
                                id="kwh_consumed_within__trigger_value"
                                fieldName="Triggers"
                                value="{{ configurations_data.kwh_consumed_within__trigger_value }}"
                            >
                            <span>kWh within</span>
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes kwh_consumed_within__inputs"
                                name="kwh_consumed_within__x_days__number_of_days"
                                id="kwh_consumed_within__x_days__number_of_days"
                                fieldName="Number of days"
                                value="{{ configurations_data.kwh_consumed_within__x_days__number_of_days }}"
                            >
                            <span>days of account creation. Trigger 3DS for next</span>
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes kwh_consumed_within__inputs"
                                name="kwh_consumed_within__x_days__number_of_next_transactions"
                                id="kwh_consumed_within__x_days__number_of_next_transactions"
                                fieldName="Number of transactions"
                                value="{{ configurations_data.kwh_consumed_within__x_days__number_of_next_transactions }}"
                            >
                            <span>Transactions</span>
                        </div>
                        <div class="configurations-box error-box">
                            <ul class="m-0" id="kwh_consumed_within__conditions_error_box">
                            </ul>
                        </div>
        
                        <div class="configurations-box">
                            <input
                                class="three-3ds-checkbox"
                                type="checkbox"
                                name="total_transactions_within__condition_checkbox"
                                id="total_transactions_within__condition_checkbox"
                                {% if configurations_data.total_transactions_within__condition_checkbox == 'on' %}
                                    checked
                                {% endif %}
                            >
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes total_transactions_within__inputs"
                                name="total_transactions_within__trigger_value"
                                id="total_transactions_within__trigger_value"
                                fieldName="Triggers"
                                value="{{ configurations_data.total_transactions_within__trigger_value }}"
                            >
                            <span>transaction within</span>
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes total_transactions_within__inputs"
                                name="total_transactions_within__x_days__number_of_days"
                                id="total_transactions_within__x_days__number_of_days"
                                fieldName="Number of days"
                                value="{{ configurations_data.total_transactions_within__x_days__number_of_days }}"
                            >
                            <span>days of account creation. Trigger 3DS for next</span>
                            <input
                                type="number"
                                step="0.01"
                                class="three-3ds-input-boxes total_transactions_within__inputs"
                                name="total_transactions_within__x_days__number_of_next_transactions"
                                id="total_transactions_within__x_days__number_of_next_transactions"
                                fieldName="Number of transactions"
                                value="{{ configurations_data.total_transactions_within__x_days__number_of_next_transactions }}"
                            >
                            <span>Transactions</span>
                        </div>
                        <div class="configurations-box error-box">
                            <ul class="m-0" id="total_transactions_within__conditions_error_box">
                            </ul>
                        </div>
                        
                        <div class="configurations-box">
                            <input
                                class="three-3ds-checkbox"
                                type="checkbox"
                                name="trigger_three_ds_for_all_transaction_checkbox"
                                id="trigger_three_ds_for_all_transaction_checkbox"
                                {% if configurations_data.trigger_three_ds_for_all_transaction_checkbox == 'on' %}
                                    checked
                                {% endif %}
                            >
                            <span>Trigger 3DS for all transactions</span>
                        </div>
                        <div class="d-flex justify-content-end mt-4">
                            <button type="button" onclick="validateForm();" class="three-3ds-conf-submit-button" id="submit3DSConfig">Submit</button>
                        </div>
                    </div>
                </div>
        </div>

        <div class="modal fade" id="confirm3DSConfigurations" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content three_ds_confirmation_modal_content_box">
                    <div class="modal-body mx-1 mb-2">
                        <div class="heading">
                            <img src="{% static '/images/3ds_confirmation_icon.png' %}" alt="3ds_confirmation_icon" class="three_ds_confirmation_icon">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="three_ds_confirmation_modal_content">
                            <h6 class="font-weight-bold mt-3 sub-head">3DS Configuration Parameters set for All Users</h6>
                            <p class="mt-2 sub-text">Do you want to save or discard changes?</p>
                            <div class="d-flex justify-content-between">
                                <button class="discard_button" data-bs-dismiss="modal">Discard</button>
                                <button class="save_button" type="submit" onclick="showSubmitFormLoader();">Save</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

{% endblock content %}
{% block js %}
<script type="text/javascript">
    let url_u = `{{update_url_param|safe}}`;
    let window_radirect_location = "{% url 'email_list'%}";
</script>
<script src="{% static '/js/common.js' %}"></script>
<script src="{% static '/js/three_ds_config/3ds_config.js' %}"></script>
<!-- <script src="{% static '/js/notifications/email-list.js' %}"></script> -->
{% endblock %}