{% extends 'dashboard/base.html' %}
{% block title %}User Specific 3DS{% endblock %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static '/css/notifications/notifications/notifications.css' %}">
<link rel="stylesheet" href="{% static '/css/three_ds_config/3ds_config.css' %}">
{% endblock %}
{% block content %}
<div>
    <div id='userMan' class="user_container_man active_form">
        {% include "three_ds_config/3ds_sub_nav_bar.html" %}
        <div class="Fields-container justify-content-between">
            <div class="">
                <label class="labels" for="cars">Search</label>
                <div class="search-box">
                    <img src="{% static '/images/search-1.png' %}" alt="">
                    <input id="search" type="text" placeholder="E.g. johndoe@gmail.com" class="inputs" value="{{prev_search}}"
                        onchange="filterFunction('search',this.value);" />
                </div>
            </div>
            <div class="d-flex w-25 justify-content-between align-items-end">
                <div class="w-75">
                    <label class="labels" for="cars">Status</label>
                    <div class="select-box">
                        <select class="dropdown_input" id="status" onchange="filterFunction('status',this.value);">
                            <option value="All">All</option>
                            {% for i in status_list %}
                                {% if prev_status == i%}
                                <option value="{{i}}" selected>{{i}}</option>
                                {%else%}
                                <option value="{{i}}">{{i}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div >
                    <a href="{% url 'add_or_edit_user_specific_3ds_config' 'add_user' %}"><button class="add_new_site px-4" id="addButton"><img
                                class="add-three-ds-configs-icon"
                                src="{% static '/images/plus-sign@2x.png' %}"
                                alt=""></button></a>
                </div>
            </div>
        </div>
        <div class="table_container">
            <table id="tableID" class="table" aria-describedby="usertable">
                <thead class="rounded-top">
                    <tr>
                        <th id="order_by_name_th" class="table-heading email-subject-heading-cell"
                            data-sortas="case-insensitive">Email</th>
                        <th id="order_by_username_th" class="table-heading">Account number</th>
                        <th id="order_by_role_th" class="table-heading" data-sortas="numeric">
                            Status
                        </th>
                        <th id="order_by_action_th" class="table-heading text-center"> Action</th>
                    </tr>
                </thead>
                <tbody id="showEmailNotificationDetails">
                    {% for user in three_ds_enabled_users %}
                    <tr>
                        <td id="email-subject-cell" class="view-email-notification-link">{{user.email}}</td>
                        <td class="view-email-notification-link">{{user.driivz_account_number}}</td>
                        <td class="view-email-notification-link">{{user.status}}</td>
                        <td class="sites_table_del_btn min-w-5 text_align_style">
                            <button
                                class="delete-station-image-button"
                                data-bs-toggle="modal"
                                data-bs-target="#delete-3ds-config-modal"
                                onclick="appendRemove3DSModalContent('{{user.id}}','{{user.email}}')";
                            >
                                <img
                                    class="table_buttons station_list_delete_icon_stly"
                                    src="{% static '/images/delete.png' %}"
                                    alt=""
                                >
                            </button>
                            <a href="{% url 'add_or_edit_user_specific_3ds_config' user.id %}{{query_params_str}}">
                                <img
                                    class="table_buttons station_list_edit_icon_stly"
                                    src="{% static '/images/pencil-2.png' %}"
                                    alt=""
                                >
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="7" class="pagination_bx_background">
                            <div class="pagination_div">
                                <div class="record_count">

                                    {% if data_count is 0 %}
                                    <p class="sites_table">No records</p>
                                    {% else %}
                                    <p class="sites_table">
                                        <strong>{{first_data_number}}</strong>-<strong>{{last_data_number}}</strong> of
                                        <strong>{{data_count}}</strong> records
                                    </p>
                                    {% endif %}
                                </div>
                                <div class="pagination_buttons d-flex justify-content-lg-start">
                                    {% if data_count >= 10 %}
                                    {% if prev %}
                                    <a href="{% url 'user_specific_3ds_config' %}?page={{prev}}{{update_url_param}}"><button
                                            class="pagination_button prev">Previous</button></a>
                                    {% else %}

                                    <button class="disabled_button prev">Previous</button>
                                    {% endif %}
                                    {% endif %}
                                    {% for i in pagination_num_list%}

                                    {% if i is None %}

                                    <span>.</span>

                                    {% else %}
                                    {% if current_page == i%}
                                    <a href="#"><button class="active_pagination_button">{{i}}</button></a>
                                    {% else %}
                                    <a href="{% url 'user_specific_3ds_config' %}?page={{i}}{{update_url_param}}"><button
                                            class="pagination_button">{{i}}</button></a>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}

                                    {% if data_count >= 10 %}
                                    {% if next %}
                                    <a href="{% url 'user_specific_3ds_config' %}?page={{next}}{{update_url_param}}"><button
                                            class="pagination_button next">Next</button></a>
                                    {% else %}

                                    <button class="disabled_button next">Next</button>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<!-- delete email notification modal -->
<div class="modal fade" id="delete-3ds-config-modal" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content google_maps_content station_list_delete_site_modal_styl">

            <div class="modal-body">
                <div class="heading">
                    <h5>Disable 3DS verification</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="emails_list_delete_email_modal_styl_content" id="remove-3ds-conf-email-content">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block js %}
<script type="text/javascript">
    let url_u = `{{update_url_param|safe}}`;
    let window_radirect_location = "{% url 'user_specific_3ds_config'%}";
</script>
<script src="{% static '/js/common.js' %}"></script>
<script src="{% static '/js/three_ds_config/3ds_config.js' %}"></script>
{% endblock %}